version: '3'
services:
    backend:
      build: ./backend
      container_name: backend-container
      env_file:
        - ./backend/.env
      ports:
        - "5000:5000"
      depends_on:
       - db
      volumes:
       - ./backend:/backend

    db:
      image: postgres:13-alpine
      container_name: db_container
      environment:
        POSTGRES_USER: barwaqo
        POSTGRES_PASSWORD: password123
        POSTGRES_DB: barwaqo_db
      ports:
        - "5432:5432"
      volumes:
        - postgres-data:/var/lib/postgresql/data

volumes:
  postgres-data:
